@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
    padding: 1rem 0.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Raleway',Sans-serif;
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239c9394' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");

  }

  .header{
    text-align:center;
  }

  .container {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    -webkit-display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* padding: 6%; */
    padding: 3%;
    margin: 0;
  }
  

  .popup {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    border-radius:6px;
    padding: 3rem 2rem;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
    text-align: center;
  }

  .popup-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .popup-title {
    color: black;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 900;
    margin-top: 0;
  }

  .popup-body {
    font-size: 1.0em;
    line-height: 1.6em;
    color: dark-gray;
    font-weight: 500;
    margin-bottom: 2.1em;
  }
  
  .popup-button1, .popup-button2, .popup-button3 {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    

    border-radius: 6px;
    margin: 10px;
    padding: 1em 3em;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  
    transition: 0.5s;
    
  }  

  .popup-button1{
    background-image: linear-gradient(to right, #EF629F 0%, #EECDA3 50%, #EF629F 100%);
  }

  .popup-button2{
    background-image: linear-gradient(to right, #00b09b 0%, #96c93d 50%, #00b09b 100%);
  }

  .popup-button3{
    background-image: linear-gradient(to right, #12FFF7 0%, #B3FFAB 50%, #12FFF7 100%);
  }

  .popup-button1:hover, .popup-button2:hover, .popup-button3:hover{
    background-position: right center;
  }

  #textDisplay{
    font-size: 25px; 
  }
